@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-Medium.ttf);
   }

   * {
	margin: 0;
	padding: 0;
    font-family: inter;
}


h1 {
    font-family: inter;
}
.imag {
    margin-top: 20px;
}

.container {
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

.btn{
    background-color: #DE0000; /* Green */
    border: none;
    margin: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    width: 400px;
    font-size: 16px;
    
    text-decoration: none;
}

.btn:hover{
    background-color: #ff3e3e;
}

.container-post {
    background-color: #dadada;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.container-post a{
    color: black;
    text-decoration: none;
}

.all-content {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

body {
    text-align: center;
    margin: 5px;
}


.category-post a{
    color: rgb(0, 87, 158);
    text-decoration: none;
}

input{
    background-color: #D9D9D9;
    border: none;
    margin: 10px;
    color: black;
    padding: 5px;
    text-align: center;
    width: -webkit-fill-available;
    font-size: 16px;
    text-decoration: none;
}

select{
    background-color: #D9D9D9;
    border: none;
    margin: 10px;
    color: black;
    padding: 5px;
    text-align: center;
    width: -webkit-fill-available;
    font-size: 16px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(0, 123, 172);
}




.item{
    display: flex;
    align-items: stretch;
}
.section-inner h2{
text-align: justify;
}